{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Liste des articles:</h1>
    <ul>
        {% for article in articles %}
            <li>{{ article.titre }} /---/ {{ article.author }} /---/ {{ article.content }}</li> <br>            
        {% endfor %}
    </ul>
{% endblock %}